footer {
	display:  flex; 
	flex-direction:  row; 
	align-items:  flex-start; 
	justify-content:  space-between; 
	flex-wrap:  wrap; 
	width:  100%; 
	max-width:  768px; 
	background:  rgb(239,239,239); 
	color:  #757575;  
	box-sizing:  border-box; 
	margin-left:  auto; 
	margin-right:  auto; 
	padding:  60px 48px; 
	z-index:  40; 
}
footer .column {
	display:  flex; 
	flex-direction:  column; 
}
.footer__title {
	font-size:  21px; 
	font-family:  "Playfair Display", serif; 
	font-weight:  900; 
	font-style:  italic; 
	margin-top:  0px; 
}
footer p {
	margin-bottom:  18px; 
	font-family:  "Playfair Display", serif; 
	line-height:  155%; 
	font-size:  18px; 
}
footer .column:nth-of-type(2) {
	align-items:  flex-end; 
}
footer a {
	font-size:  18px; 
	font-family:  "Playfair Display", serif; 
	color:  #757575; 
	line-height:  155%; 
	// margin-bottom:  8px; 
}
.nuva-credits {
	width:  100%; 
	margin-top:  128px; 
	display:  flex; 
	flex-direction:  row; 
	justify-content:  flex-end; 
}
.nuva-logo {
	display:  flex; 
	flex-direction:  column; 
	align-items:  flex-end; 
	label {
		margin-bottom:  8px; 
		font-size:  14px; 
		font-family:  "Playfair Display"; 
		font-weight:  900; 
		font-style:  italic; 
	}
	img {
		height:  48px; 
	}
}
@media screen and (max-width: 1160px) {
	footer {
		width:  100%; 
		max-width:  none; 
	}
}
@media screen and (max-width:  650px) {
	footer {
		flex-direction:  column; 
	}
	footer .column {
		width:  100%; 
	}
}
