
.intro {
	width:  100%; 
	min-height:  100%; 
	position:  relative;
	display:  flex; 
	flex-direction:  column; 
}
.line {
	height:  100%; 
	width:  1px; 
	background-color:  rgb(239,239,239); 
	display:  flex; 
	position:  absolute; 
	top:  0; 
	left:  calc(50% + 64px); 
	z-index: 5; 
}
.intro .product-highlight {
	width:  100%; 
	position:  relative; 	
}
@media screen and (max-width:  1160px) {

	.intro {
	 	.product-highlight:nth-of-type(odd) {
			.ph__info-container {
				order:  -2; 
			}
		}
	}


}
@media screen and (max-width:  786px) {
	.line {
		left:  50%;
		z-index: -1; 
	}
}